{% extends "base.html" %}
{% block title %}Edit{% endblock %}


{% block iniciarSesion %}
<div class="ml-auto">
  <li class="nav-item d-none d-sm-inline-block">
    <a href="/UserProfile" class="nav-link btn btn-block btn-outline-secondary btn-small">
      <i class="fas fa-user"></i>
      Mi perfil
    </a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a href="/close" class="nav-link">Cerrar sesión</a>
  </li>
</div>
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 50px; margin-bottom: 100px;">
  <form method="post" enctype="multipart/form-data">
    <div class="row w-100">
      <div class="col-lg-12">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Personal information</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4">
                <div class="photo-container"
                  style="width: 100%; height: 320px; border: 2px solid; margin-bottom: 10px; display: flex; justify-content: center; align-items: center; overflow: hidden; position: relative;">
                  <img id="previewImage" width="250px" height="300px" alt="Preview"
                  src="data:image/png;base64,{{usuario.base64}}"
                    style="object-fit: contain;">
                </div>
                <input type="file" id="inputFile" class="d-none" name="foto">
                <label for="inputFile" class="btn btn-success col fileinput-button dz-clickable">
                  <i class="fas fa-plus"></i>
                  <span>Add Photo</span>
                </label>
              </div>
              <div class="col-lg-4"></div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="nombre">Full Name: *</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{usuario.nombre}}"
                  placeholder="Full Name" required>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="titulo_profesional">Current title or professional position: *</label>
                <select class="form-control" id="titulo_profesional" name="titulo_profesional" required>
                  <option selected="selected">
                    {{usuario.titulo_profesional.nombre}}
                  </option>
                  <option value="1">No studies or incomplete school studies</option>
                  <option value="2">High School</option>
                  <option value="3">Degree</option>
                  <option value="4">Master's degree</option>
                  <option value="5">technologist</option>
                  <!-- Agrega más opciones según necesites -->
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="localizacion">Location: *</label>
                <input type="text" class="form-control" id="localizacion" name="localizacion"
                  placeholder="Place your location" value="{{usuario.localizacion}}" required>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Profesional resumen</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <label for="resumen">Brief summary: (Optional)</label>
                <textarea class="form-control" id="resumen" name="resumen" rows="4"
                  placeholder="Highlight your skills, experience and key achievements">{{usuario.resumen}}</textarea>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="objetivo">Professional objective or statement of purpose (optional):</label>
                  <textarea class="form-control" id="objetivo" name="objetivo" rows="4"
                    placeholder="Enter your career goal or purpose statement">{{usuario.objetivo}}</textarea>
                </div>
              </div>
            </div>
            <div class="row"></div>
            <div class="row"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Experience</h3>
          </div>
          <div class="card-body">

            {% for xp in usuario.experiencia %}
            <div class="row">
              <div class="col-lg-6">
                <label for="nombreEmpresa_">Company Name:</label>
                <input type="text" class="form-control" id="nombreEmpresa_" name="nombreEmpresa_" value="{{xp[0]}}"
                  placeholder="Nombre de la empresa">
              </div>
              <div class="col-lg-6">
                <label for="periodoTrabajo_">Working period</label>
                <input type="text" class="form-control" id="periodoTrabajo_" name="periodoTrabajo_" value="{{xp[1]}}"
                  placeholder="¡(MM/AAAA - MM/AAAA)">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="responsabilidades_">Description of responsibilities and achievements:</label>
                <textarea class="form-control" id="responsabilidades_" name="responsabilidades_" rows="4"
                  placeholder="Describe your responsabilities and achievements on this work">{{xp[2]}}</textarea>
              </div>
            </div>

            {% else %}

            <div class="row">
              <div class="col-lg-6">
                <label for="nombreEmpresa_">Company Name:</label>
                <input type="text" class="form-control" id="nombreEmpresa_" name="nombreEmpresa_"
                  placeholder="Nombre de la empresa">
              </div>
              <div class="col-lg-6">
                <label for="periodoTrabajo_">Working period</label>
                <input type="text" class="form-control" id="periodoTrabajo_" name="periodoTrabajo_"
                  placeholder="¡(MM/AAAA - MM/AAAA)">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label for="responsabilidades_">Description of responsibilities and
                  achievements:</label>
                <textarea class="form-control" id="responsabilidades_" name="responsabilidades_" rows="4"
                  placeholder="Describe your responsabilities and achievements on this work"></textarea>
              </div>
            </div>

            {% endfor %}

            <div id="camposEmpleo">
            </div>
            <div class="row" style="margin-top: 15px;">
              <div class="col-lg-4">
                <a class="btn btn-app" id="btnAgregarMas">
                  <i class="fas fa-plus"></i>
                  Agregar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Education</h3>
          </div>
          <div class="card-body">
            <!-- BEGIN FOR EDUCATION -->
            {% for edu in usuario.educacion %}
            <div class="row">
              <div class="col-lg-6">
                <label for="institucion_">Educational institution:</label>
                <input type="text" class="form-control" id="institucion_" name="institucion_" value="{{edu[0]}}"
                  placeholder="Name of The Educational institution">
              </div>
              <div class="col-lg-6">
                <label for="titulo_">Obtained title:</label>
                <input type="text" class="form-control" id="titulo_" name="titulo_" placeholder="Obtained title"
                  value="{{edu[1]}}">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label for="periodoEstudio_">Working period:</label>
                <input type="text" class="form-control" id="periodoEstudio_" name="periodoEstudio_" value="{{edu[2]}}"
                  placeholder="(MM/AAAA - MM/AAAA)">
              </div>
              <div class="col-lg-6"></div>
            </div>

            {% else %}

            <div class="row">
              <div class="col-lg-6">
                <label for="institucion_">Educational institution:</label>
                <input type="text" class="form-control" id="institucion_" name="institucion_"
                  placeholder="Name of The Educational institution">
              </div>
              <div class="col-lg-6">
                <label for="titulo_">Obtained title:</label>
                <input type="text" class="form-control" id="titulo_" name="titulo_" placeholder="Obtained title">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label for="periodoEstudio_">Working period:</label>
                <input type="text" class="form-control" id="periodoEstudio_" name="periodoEstudio_"
                  placeholder="(MM/AAAA - MM/AAAA)">
              </div>
              <div class="col-lg-6"></div>
            </div>

            {% endfor %}

            <div id="camposEducacion"></div>
            <div class="row" style="margin-top: 15px;">
              <div class="col-lg-4">
                <a class="btn btn-app" id="btnAgregarEducacion">
                  <i class="fas fa-plus"></i>
                  Agregar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Skills and aptitudes</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <label for="habilidadesInput">Enter Skills or Aptitudes</label>
                <input type="text" class="form-control"
                  placeholder="Example: Languages, Software, Technical or Soft Skills" id="habilidadesInput" />
                <button type="button" class="btn btn-dark" id="btnAgregarHabilidad" style="margin-top: 10px;">Add Skill
                  or Aptitude</button>
              </div>
              <div class="col-lg-6">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px;">#</th>
                      <th>Skills or Aptitudes</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="tablaHabilidades">
                    {% for habilidad in query %}
                      <tr>
                        <td>{{loop.index0 + 1}}</td>
                        <td><input type="text" value="{{habilidad}}" 
                          name="habilidades" class="transparent_input"
                          id="habilidades" readonly></td>
                        <td><button type="button" class="btn btn-danger btn-sm btnEliminarSkill">Eliminar</button></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="col-lg-6">
        <input type="submit" class="btn btn-dark" value="Guardar">
        <a href="/HomeUser">
          <button type="button" class="btn btn-danger">Cancelar</button>
        </a>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
  </form>
</div>






{% endblock %}

{% block scripts %}
<script>


  $(document).ready(function () {
    $(function () {
      $('#reservation').daterangepicker()
    });


    // Función para agregar habilidades a la tabla
    $("#btnAgregarHabilidad").click(function () {
        let habilidad = $("#habilidadesInput").val().trim();
        if (habilidad) {
            let fila = `
            <tr>
                <td>${$("#tablaHabilidades tr").length + 1}</td> 
                <td><input type="text" value="${habilidad}" name="habilidades"  class="transparent_input" id="habilidades" readonly></td>
                <td><button type="button" class="btn btn-danger btn-sm btnEliminarSkill">Eliminar</button></td>
            </tr>
            `;
            $("#tablaHabilidades").append(fila);
            $("#habilidadesInput").val("");
        }
    });

    $(document).on("click", ".btnEliminarSkill", function () {
        $(this).closest("tr").remove();
        actualizarNumeracion();
    });

    // Función para actualizar la numeración de las filas
    function actualizarNumeracion() {
      $("#tablaHabilidades tr").each(function (index) {
        $(this).find("td:first").text(index + 1);
      });
    }

    // Cuando se selecciona un archivo en el input de tipo file
    $("#inputFile").change(function () {
      readURL(this);
    });

    // Función para leer la URL del archivo seleccionado y mostrar la imagen en la vista previa
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#previewImage').attr('src', e.target.result).show();
        };
        reader.readAsDataURL(input.files[0]);
      }
    }

    // Función para agregar nuevos campos de experiencia laboral
    $("#btnAgregarMas").click(function () {
      $("#camposEmpleo").append(`
            <div class="row" style="margin-top: 15px;">
                <div class="col-lg-6">
                    <label for="nombreEmpresa_">Company Name:</label>
                    <input type="text" class="form-control" id="nombreEmpresa_"
                        name="nombreEmpresa_" placeholder="Nombre de la empresa">
                </div>
                <div class="col-lg-6">
                    <label for="periodoTrabajo_">Working period</label>
                    <input type="text" class="form-control" id="periodoTrabajo_"
                        name="periodoTrabajo_" placeholder="¡(MM/AAAA - MM/AAAA)">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="responsabilidades_">Description of responsibilities and
                        achievements:</label>
                    <textarea class="form-control" id="responsabilidades_"
                        name="responsabilidades_" rows="4"
                        placeholder="Describa sus responsabilidades y logros en este empleo"></textarea>
                </div>
            </div>
            `);
    });

    // Función para agregar nuevos campos de Educación
    $("#btnAgregarEducacion").click(function () {
      $("#camposEducacion").append(`<div class="row" style="margin-top: 15px;">
              <div class="col-lg-6">
                <label for="institucion_">Educational institution:</label>
                <input type="text" class="form-control" id="institucion_" name="institucion_"
                  placeholder="Name of The Educational institution">
              </div>
              <div class="col-lg-6">
                <label for="titulo_">Obtained title:</label>
                <input type="text" class="form-control" id="titulo_" name="titulo_" placeholder="Obtained title">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label for="periodoEstudio_">Working period:</label>
                <input type="text" class="form-control" id="periodoEstudio_" name="periodoEstudio_"
                  placeholder="(MM/AAAA - MM/AAAA)">
              </div>
              <div class="col-lg-6"></div>
            </div>
          </div>`);
    });
  });

</script>
<style>
  
  .transparent_input{
    border-color: white;
    border-width: 0px;
  }
</style>
{% endblock %}