{% extends "base.html" %}

{% block title %}ContractorsApp{% endblock %}
{% block iniciarSesion %}
<div class="ml-auto">
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ url_for('Register')}}" class="nav-link">Unirse ahora</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ url_for('login')}}" class="nav-link btn btn-block btn-outline-secondary btn-small">Iniciar
            Sesión</a>
    </li>
</div>
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 50px; margin-left: 50px;">
    <div class="col-lg-5">
        <h1 class="h1" style="font-weight: bold; text-align: center;">Welcome to your new <br> professional community
        </h1>
        <hr>
        <p style="line-height: 40px; font-size: 25px; font-weight: bold; text-align: center;">Hello, welcome to our jobs
            app! <br> Here you will find your next big
            career move. Browse, search and apply the easy way. <br> We're here to help you reach your career
            goals -
            good luck in your search!
        </p>
        <a href="{{ url_for('Register')}}">
        <button type="button" class="btn btn-block btn-dark" style="margin-top: 80px;"> Start now</button>
        </a>
    </div>
    <duv class="col-lg-7">
        <img src="https://i.ibb.co/ngGJ9bC/homepc.png" alt="homepc" width="850px" height="500px">
    </duv>
</div>
{% endblock %}