{% extends "base.html" %}

{% block title %}User Home{% endblock %}

{% block busqueda %}

<!-- Barra de menú -->
<li class="nav-item">
    <a class="nav-link" data-widget="navbar-search" href="/UserProfile" role="button">
        <i class="fas fa-search"></i>
        Search Users
    </a>
    <div class="navbar-search-block">
        <form class="form-inline">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" name="search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<!-- Fin Barra de menú -->

{% endblock %}


{% block iniciarSesion %}

<div class="ml-auto">
    <li class="nav-item d-none d-sm-inline-block">
        <a href="/UserProfile" class="nav-link btn btn-block btn-outline-secondary btn-small">
            <i class="fas fa-user"></i>
            My profile
        </a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="/close" class="nav-link">Log out</a>
    </li>
</div>

{% endblock %}
{% block content %}

<div class="container" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-4">
            <!-- Profile Image -->
            <div class="card card-dark card-widget widget-user" style="margin-top: 50px;">
                <div class="widget-user-header bg-dark">
                    <h3 class="widget-user-username">{{usuario.usuario}}</h3>
                    <h5 class="widget-user-desc">{{usuario.profesion}}</h5>
                </div>
                <div class="widget-user-image">
                    <img src="data:;base64,{{usuario.base64}}"
                        alt="User Picture" class="img-circle elevation-2">
                </div>
                <div class="card-footer">
                    <p style="font-weight: bold;">Contacts</p>
                    <p>{{usuario.telefono}}</p>
                    <p>{{usuario.email}}</p>
                    <hr>
                    <a href="/Edit" class="fas fa-pencil-alt mr-1">Edit</a>
                </div>
            </div>

            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-dark" style="margin-bottom: 50px;">
                <div class="card-header">
                    <h3 class="card-title">Topics</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong><i class="fas fa-book mr-1"></i>Title</strong>

                    <p class="text-muted">
                        {{usuario.titulo_profesional.nombre}}
                    </p>

                    <hr>

                    <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                    <p class="text-muted">
                        <span class="tag tag-primary">
                            {{' | '.join(usuario.habilidades)}}
                        </span>
                        <!-- <span class="tag tag-danger">UI Design</span>
                        <span class="tag tag-success">Coding</span>
                        <span class="tag tag-info">Javascript</span>
                        <span class="tag tag-warning">PHP</span>
                        <span class="tag tag-primary">Node.js</span> -->
                    </p>

                    <hr>
                    <strong><i class="far fa-file-alt mr-1"></i> Summary</strong>

                    <p class="text-muted">{{usuario.resumen}}</p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-lg-8">
            <!-- Botón para mostrar formulario de creación de publicación -->
            <button type="button" class="btn btn-dark" id="btnMostrarFormulario" style="margin-top: 20px;">Create Post</button>

            <!-- Formulario de creación de publicaciones (inicialmente oculto) -->
            <div class="card card-widget" id="formularioPublicacion" style="margin-top: 20px; display: none;">
                <div class="card-header">
                    <h3 class="card-title">Create new post</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="titulo">Title:</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required>
                        </div>
                        <div class="form-group">
                            <label for="titulo_profesional">Modality</label>
                            <select class="form-control" id="modalidad" name="modalidad" required>
                              <option value="">Select</option>
                              <option value="1">intern</option>
                              <option value="2">in person</option>
                              <option value="3">remote</option>
                              <option value="4">mixed</option>
                              <!-- Agrega más opciones según necesites -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="area">Area:</label>
                            <input type="text" class="form-control" id="area" name="area" required>
                        </div>
                        <div class="form-group">
                            <label for="contenido">Content:</label>
                            <textarea class="form-control" id="contenido" name="contenido" rows="4" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Category:</label>
                            <input type="text" class="form-control" id="categoria" name="categoria" placeholder="computing, software" required>
                        </div>
                        <div class="photo-container"
                            style="width: 100%; height: 320px; border: 2px solid; margin-bottom: 10px; display: flex; justify-content: center; align-items: center; overflow: hidden; position: relative;">
                            <img id="previewImage" width="250px" height="300px" src="#" alt="Preview"
                                style="object-fit: contain; display: none;">
                        </div>
                        <input type="file" id="inputFile" class="d-none" name="imagen">
                        <label for="inputFile" class="btn btn-success col fileinput-button dz-clickable">
                            <i class="fas fa-plus"></i>
                            <span>Add Photo</span>
                        </label>
                        <button type="submit" class="btn btn-dark">Post</button>
                        <button type="button" class="btn btn-danger" id="btnCancelar">Cancel</button>
                    </form>
                </div>
            </div>


            <!-- Box Comment -->
            {% for publicacion in query %}
                <div class="card card-widget" style="margin-top: 20px;">
                    <div class="card-header">
                        <div class="user-block">
                            <img class="img-circle"
                                src="data:;base64,{{usuario.base64}}"
                                alt="User Image">
                            <span class="username"><a href="/user/{{publicacion.id_usuario}}">{{publicacion.id_usuario.usuario}}</a></span>
                            <span class="description">{{publicacion.titulo}} - {{publicacion.fecha}}</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" title="Mark as read">
                                <i class="far fa-circle"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <span>Modality: </span>
                        <!-- post text -->
                        <p>{{publicacion.modalidad.nombre}}</p>
                        <p>{{publicacion.contenido}}</p>
                        
                        <!-- Attachment -->
                        {% if publicacion.imagen %}
                        <div class="attachment-block clearfix">
                            <img src="data:;base64,{{publicacion.base64}}">
<!-- 
                            <div class="attachment-pushed">
                                <h4 class="attachment-heading"><a href="https://www.lipsum.com/">Lorem ipsum
                                        text
                                        generator</a></h4>

                                <div class="attachment-text">
                                    Description about the attachment can be placed here.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry... <a href="#">more</a>
                                </div>
                                
                            </div> -->
                            <!-- /.attachment-pushed -->
                        </div>
                        <!-- /.attachment-block -->
                        {% endif %}
                        <!-- Social sharing buttons -->
                        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i>
                            Share</button>
                        <button type="button" class="btn btn-default btn-sm"><i
                            class="far fa-thumbs-up"></i> Like</button>
                        <span class="float-right text-muted">{{publicacion.likes}} likes - <a href="/publicacion/{{publicacion.id_usuario}}">see comments</a></span>
                    </div> 
                    <!-- /.card-body -->
                    
                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <form method="post">
                            <img class="img-fluid img-circle img-sm "
                                src="data:;base64,{{usuario.base64}}"
                                alt="Alt Text">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                                <input type="number" name="id_publicacion" value="{{publicacion.id_publicacion}}" hidden>
                                <input type="text" class="form-control form-control-sm" id="comentario" name="comentario"
                                    placeholder="Press enter to post comment">
                                <button type="submit" class="btn btn-dark" style="margin-top: 10px;">Comment</button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->



        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const btnMostrarFormulario = document.getElementById('btnMostrarFormulario');
        const formularioPublicacion = document.getElementById('formularioPublicacion');
        const btnCancelar = document.getElementById('btnCancelar');

        btnMostrarFormulario.addEventListener('click', function () {
            formularioPublicacion.style.display = 'block';
        });

        btnCancelar.addEventListener('click', function () {
            formularioPublicacion.style.display = 'none';
        });
    });

    $(document).ready(function () {
       // Cuando se selecciona un archivo en el input de tipo file
    $("#inputFile").change(function () {
      readURL(this);
    });

    // Función para leer la URL del archivo seleccionado y mostrar la imagen en la vista previa
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#previewImage').attr('src', e.target.result).show();
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    });

</script>

{% endblock %}