{% extends "base.html" %}

{% block title %}
New Password
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="login-box" style="margin-top: 50px;">
          <div class="card card-outline card-dark">
            <div class="card-header text-center">
              <a href="#" class="h1"><b>Reset your password</a>
            </div>
            <div class="card-body">
              <p class="login-box-msg">Enter your password below.
                Remember, strongs passwords includes letters, symbols and numbers.</p>
              <form method="POST" enctype = "multipart/form-data">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Enter new password" name="new_password">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Confirm new password" name="confirm_password">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>
                  <p style="color: red;">{{text}}</p>
                  <div class="row">
                    <div class="col-12">
                      <button type="submit" class="btn btn-dark btn-block">Reset your password</button>
                    </div>
                    <!-- /.col -->
                  </div>
                  
              </form>
              <p class="mt-3 mb-1">
                <a href="{{ url_for('login')}}">Login</a>
              </p>
            </div>
            <!-- /.login-card-body -->
          </div>
        </div>
        <!-- /.login-box -->
      </div>
      <div class="col-lg-4"></div>
    </div>
  
  </div>
{% endblock %}