<div class="div">
    <div class="div-2">
      <div class="div-3">
        <div class="column">
          <h2>{{text}}</h2>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/f01a4fa76a1f4184a625d22596012e1b7cce257d00187beb30edc44f9accc62c?"
            class="img"
          />
        </div>
        <div class="column-2">
          <div class="div-4">
            <div class="div-5">Create an account</div>
            <div class="div-6">Register</div>
            <form method="POST">
              <div class="div-7">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/6c0a6f8e1ce508cb49e5b2e766a6950462069304a3fe045df8c903be6c54d3de?"
                  class="img-2"
                />
                <div class="div-8">
                  <input name="usuario" placeholder="User name">
                </div>
              </div>
              <div class="div-9">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/91d385f4b10190c13a6307dcc3b87d26c699f2b26e437d5605f13e7b86b04b79?"
                  class="img-3"
                />
                <div class="div-10">
                  <input name="nombre" placeholder="Name">
                </div>
              </div>
              <div class="div-11">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/2eca4812f098adffa8b215a96ee5355060494e8398d59c0db55f606a6a0ce920?"
                  class="img-4"
                />
                <div class="div-12">
                  <input name="apellido" placeholder="Last Name">
                </div>
              </div>
              <div class="div-13">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/958d2628ee54563e2bd440632e1f0ac71b655aba4be5db360de18f694a6593ec?"
                  class="img-5"
                />
                  <div class="div-14">
                    <input name="email" placeholder="Email">
                  </div>
              </div>
              <div class="div-15">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/6ac193b3d16f594ae3416c3260c5595a1fd1926e140622ce4aeb73e61f93c057?"
                  class="img-6"
                />
                <div class="div-16">
                  <input type="password" name="clave" placeholder="Password">
                </div>
              </div>
            <div class="div-17">
              <div class="div-18">
                <div class="div-19"></div>
                <div class="div-20">Remember password</div>
              </div>
              <div class="div-21">
                <span style="color: rgba(111, 113, 116, 1)">
                  Al hacer clic en &lt;&lt; Registrarme &gt;&gt; aceptas las
                </span>
                <span style="font-weight: 400; color: rgba(67, 98, 128, 1)">
                  Condiciones y de uso
                </span>
                <span style="font-weight: 400">,</span>
                <span style="font-weight: 400; color: rgba(67, 98, 128, 1)">
                  la Politica de privacidad
                </span>
                <span style="color: rgba(111, 113, 116, 1)">y</span>
                <span style="font-weight: 400; color: rgba(67, 98, 128, 1)">
                  P
                </span>
                <span style="font-weight: 400; color: rgba(67, 98, 128, 1)">
                  olitica de cookies de Contractors
                </span>
              </div>
              <div class="div-22">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/bf89799ca0d59eb00d0c0962baf9d79e086f3519af780372537a292a9832442d?"
                  class="img-7"
                />
                <div class="div-23">OR</div>
                <div class="div-24"></div>
              </div>
              <div class="div-25">
                <div class="div-26">Continuar con Google</div>
                <img
                  loading="lazy"
                  srcset="..."
                  class="img-8"
                />
              </div>
            </div>
            <div class="div-27"><input type="submit" value="Sign In"> </div>
          </div>
         </form>
        </div>
      </div>
    </div>
  </div>
  <style>
    .div {
      background: linear-gradient(
          113deg,
          rgba(197, 225, 251, 0) 82.81%,
          rgba(197, 225, 251, 0.3) 100%
        ),
        linear-gradient(
          117deg,
          rgba(51, 141, 224, 0.3) 12.59%,
          rgba(51, 141, 224, 0) 94.76%
        ),
        #f7f8f9;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 60px;
    }
    @media (max-width: 991px) {
      .div {
        padding: 0 20px;
      }
    }
    .div-2 {
      margin-top: 73px;
      width: 100%;
      max-width: 1431px;
    }
    @media (max-width: 991px) {
      .div-2 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-3 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-3 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
    .column {
      color: red;
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 57%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column {
        width: 100%;
      }
    }
    .img {
      aspect-ratio: 1.11;
      object-fit: auto;
      object-position: center;
      width: 100%;
      align-self: stretch;
      margin: auto 0;
    }
    @media (max-width: 991px) {
      .img {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 43%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    }
    .div-4 {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-size: 22px;
      font-weight: 400;
    }
    @media (max-width: 991px) {
      .div-4 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-5 {
      color: #000;
      text-align: center;
      align-self: center;
      font: 48px Fredoka, sans-serif;
    }
    @media (max-width: 991px) {
      .div-5 {
        font-size: 40px;
      }
    }
    .div-6 {
      color: #070707;
      text-align: center;
      align-self: center;
      margin-top: 41px;
      font: 32px Fredoka, sans-serif;
    }
    @media (max-width: 991px) {
      .div-6 {
        margin-top: 40px;
      }
    }
    .div-7 {
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      margin-top: 66px;
      justify-content: space-between;
      gap: 11px;
      color: #363636;
      padding: 21px 14px;
    }
    @media (max-width: 991px) {
      .div-7 {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
      }
    }
    .img-2 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 31px;
    }
    .div-8 {
      font-family: Fredoka, sans-serif;
      align-self: start;
      margin-top: 13px;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .div-8 {
        max-width: 100%;
      }
    }
    .div-9 {
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      margin-top: 19px;
      justify-content: space-between;
      gap: 14px;
      color: #363636;
      white-space: nowrap;
      padding: 24px 18px;
    }
    @media (max-width: 991px) {
      .div-9 {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
      }
    }
    .img-3 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 24px;
    }
    .div-10 {
      font-family: Fredoka, sans-serif;
      align-self: start;
      margin-top: 8px;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .div-10 {
        max-width: 100%;
      }
    }
    .div-11 {
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      margin-top: 17px;
      justify-content: space-between;
      gap: 14px;
      color: #363636;
      padding: 24px 18px;
    }
    @media (max-width: 991px) {
      .div-11 {
        max-width: 100%;
        flex-wrap: wrap;
      }
    }
    .img-4 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 24px;
    }
    .div-12 {
      font-family: Fredoka, sans-serif;
      align-self: start;
      margin-top: 6px;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .div-12 {
        max-width: 100%;
      }
    }
    .div-13 {
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      margin-top: 16px;
      justify-content: space-between;
      gap: 14px;
      color: #363636;
      white-space: nowrap;
      padding: 24px 18px;
    }
    @media (max-width: 991px) {
      .div-13 {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
      }
    }
    .img-5 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 24px;
    }
    .div-14 {
      font-family: Fredoka, sans-serif;
      align-self: start;
      margin-top: 6px;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .div-14 {
        max-width: 100%;
      }
    }
    .div-15 {
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      margin-top: 17px;
      justify-content: space-between;
      gap: 14px;
      color: #363636;
      white-space: nowrap;
      padding: 24px 18px;
    }
    @media (max-width: 991px) {
      .div-15 {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
      }
    }
    .img-6 {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 24px;
    }
    .div-16 {
      font-family: Fredoka, sans-serif;
      align-self: start;
      margin-top: 6px;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .div-16 {
        max-width: 100%;
      }
    }
    .div-17 {
      display: flex;
      margin-top: 13px;
      flex-direction: column;
      font-size: 15px;
      padding: 0 29px;
    }
    @media (max-width: 991px) {
      .div-17 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .div-18 {
      align-self: start;
      display: flex;
      gap: 10px;
      color: #436280;
      white-space: nowrap;
      text-align: center;
    }
    @media (max-width: 991px) {
      .div-18 {
        white-space: initial;
      }
    }
    .div-19 {
      border: 1px solid #002e59;
      align-self: start;
      width: 15px;
      height: 15px;
    }
    .div-20 {
      font-family: Fredoka, sans-serif;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .div-20 {
        white-space: initial;
      }
    }
    .div-21 {
      color: #919395;
      text-align: center;
      margin-top: 17px;
      font: 300 14px Fredoka, sans-serif;
    }
    @media (max-width: 991px) {
      .div-21 {
        max-width: 100%;
      }
    }
    .div-22 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 13px;
      color: rgba(67, 98, 128, 0.5);
      white-space: nowrap;
      text-align: center;
      margin: 5px 16px 0 15px;
    }
    @media (max-width: 991px) {
      .div-22 {
        max-width: 100%;
        margin-right: 10px;
        flex-wrap: wrap;
        white-space: initial;
      }
    }
    .img-7 {
      object-fit: auto;
      object-position: center;
      width: 214px;
      stroke-width: 1px;
      stroke: rgba(67, 98, 128, 0.5);
      align-self: stretch;
      max-width: 100%;
      margin: auto 0;
    }
    .div-23 {
      font-family: Fredoka, sans-serif;
      align-self: stretch;
    }
    .div-24 {
      background-color: rgba(67, 98, 128, 0.5);
      align-self: stretch;
      width: 214px;
      height: 1px;
      margin: auto 0;
    }
    .div-25 {
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 1);
      align-self: center;
      display: flex;
      margin-top: 19px;
      gap: 13px;
      font-size: 16px;
      color: #363636;
      white-space: nowrap;
      padding: 15px 27px;
    }
    @media (max-width: 991px) {
      .div-25 {
        white-space: initial;
        padding: 0 20px;
      }
    }
    .div-26 {
      font-family: Fredoka, sans-serif;
      align-self: start;
      margin-top: 5px;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .div-26 {
        white-space: initial;
      }
    }
    .img-8 {
      aspect-ratio: 1.05;
      object-fit: auto;
      object-position: center;
      width: 21px;
    }
    .div-27 {
      border-radius: 20px;
      background-color: #002e59;
      margin-top: 25px;
      justify-content: center;
      align-items: center;
      color: #fff;
      white-space: nowrap;
      text-align: center;
      padding: 19px 60px 19px 70px;
      font: 24px Fredoka, sans-serif;
    }
    @media (max-width: 991px) {
      .div-27 {
        white-space: initial;
        max-width: 100%;
        padding: 0 20px;
      }
    }
    textarea:focus, input:focus{
    outline: none;
    }
    input{
      font-size: 26;
      border-radius: 20px;
      border-color: white;
    }
    input[type=submit] {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: hover;
      color: white;
      overflow: hidden;
      outline: none;
      font-size: 26;
      width: 426px;
      height: auto;
      text-decoration-color: white;
    }
  </style>