{% extends "base.html" %}
{% block title %}User Profile{% endblock %}

{% block iniciarSesion %}

<div class="ml-auto">
    <li class="nav-item d-none d-sm-inline-block">
        <a href="/HomeUser" class="nav-link btn btn-block btn-outline-secondary btn-small">
            <i class="fas fa-user"></i>
            Home
        </a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="/close" class="nav-link">Cerrar sesión</a>
    </li>
</div>

{% endblock %}

{% block content %}

<div class="container" style="margin-bottom: 50px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-dark card-tabs" style="margin-top: 20px;">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-activity-tab" data-toggle="pill"
                                href="#custom-tabs-one-activity" role="tab" aria-controls="custom-tabs-one-activity"
                                aria-selected="true">Activity</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                                href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile"
                                aria-selected="false">Profile</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-one-activity" role="tabpanel"
                            aria-labelledby="custom-tabs-one-activity-tab">


                            <!-- Botón para mostrar formulario de creación de publicación -->
                            <button type="button" class="btn btn-dark" id="btnMostrarFormulario"
                                style="margin-top: 20px;">Crear
                                Publicación</button>

                            <!-- Formulario de creación de publicaciones (inicialmente oculto) -->
                            <div class="card card-widget" id="formularioPublicacion"
                                style="margin-top: 20px; display: none;">
                                <div class="card-header">
                                    <h3 class="card-title">Crear nueva publicación</h3>
                                </div>
                                <div class="card-body">
                                    <form method="post">
                                        <div class="form-group">
                                            <label for="titulo">Título:</label>
                                            <input type="text" class="form-control" id="titulo" name="titulo" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="titulo_profesional">Modality</label>
                                            <select class="form-control" id="modalidad" name="modalidad" required>
                                              <option value="">Select</option>
                                              <option value="1">intern</option>
                                              <option value="2">in person</option>
                                              <option value="3">remote</option>
                                              <option value="4">mixed</option>
                                              <!-- Agrega más opciones según necesites -->
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="area">Area:</label>
                                            <input type="text" class="form-control" id="area" name="area" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="contenido">Contenido:</label>
                                            <textarea class="form-control" id="contenido" name="contenido" rows="4"
                                                required></textarea>
                                        </div>
                                        <div class="photo-container"
                                            style="width: 100%; height: 320px; border: 2px solid; margin-bottom: 10px; display: flex; justify-content: center; align-items: center; overflow: hidden; position: relative;">
                                            <img id="previewImage" width="250px" height="300px" alt="Preview"
                                            src="data:;base64,{{usuario.base64}}"
                                                style="object-fit: contain;">
                                        </div>
                                        <input type="file" id="inputFile" class="d-none" name="foto">
                                        <label for="inputFile"
                                            class="btn btn-success col fileinput-button dz-clickable">
                                            <i class="fas fa-plus"></i>
                                            <span>Add Photo</span>  
                                        </label>
                                        <button type="submit" class="btn btn-dark">Publicar</button>
                                        <button type="button" class="btn btn-danger" id="btnCancelar">Cancelar</button>
                                    </form>
                                </div>
                            </div>
                            


                            <!-- Box Comment -->
                            {% for publicacion in usuario.Publicaciones %}
                            <div class="card card-widget" style="margin-top: 20px;">
                                <div class="card-header">
                                    <div class="user-block">
                                        <img class="img-circle"
                                            src="data:;base64,{{usuario.base64}}"
                                            alt="User Image">
                                        <span class="username"><a href="#">{{usuario.usuario}}</a></span>
                                        <span class="description">{{publicacion.titulo}} - {{publicacion.fecha}}</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" title="Mark as read">
                                            <i class="far fa-circle"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <!-- post text -->

                                    <p>{{publicacion.contenido}}</p>
                                    
                                    <!-- Attachment -->
                                    {% if publicacion.imagen %}
                                    <div class="attachment-block clearfix">
                                        <img src="data:;base64,{{publicacion.base64}}">
<!-- 
                                        <div class="attachment-pushed">
                                            <h4 class="attachment-heading"><a href="https://www.lipsum.com/">Lorem ipsum
                                                    text
                                                    generator</a></h4>

                                            <div class="attachment-text">
                                                Description about the attachment can be placed here.
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry... <a href="#">more</a>
                                            </div>
                                            
                                        </div> -->
                                        <!-- /.attachment-pushed -->
                                    </div>
                                    <!-- /.attachment-block -->
                                    {% endif %}
                                    {% endfor %}
                                    <!-- Social sharing buttons -->
                                    d<button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i>
                                        Share</button>
                                    <button type="button" class="btn btn-default btn-sm"><i
                                            class="far fa-thumbs-up"></i> Like</button>
                                    <span class="float-right text-muted">{{publicacion.likes}} likes - 2 comments</span>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer card-comments">
                                    <div class="card-comment">
                                        <!-- User image -->
                                        <img class="img-circle img-sm"
                                            src="https://img.freepik.com/foto-gratis/retrato-hermoso-mujer-joven-posicion-pared-gris_231208-10760.jpg?size=626&ext=jpg&ga=GA1.1.1319243779.1712188800&semt=sph"
                                            alt="User Image">

                                        <div class="comment-text">
                                            <span class="username">
                                                Maria Gonzales
                                                <span class="text-muted float-right">8:03 PM Today</span>
                                            </span><!-- /.username -->
                                            It is a long established fact that a reader will be distracted
                                            by the readable content of a page when looking at its layout.
                                        </div>
                                        <!-- /.comment-text -->
                                    </div>
                                    <!-- /.card-comment -->
                                    {% for comentario in publicacion.comentarios}
                                    <div class="card-comment">
                                        <!-- User image -->
                                        <img class="img-circle img-sm"
                                            src="{{comentario.id_usuario.base64}}"
                                            alt="User Image">

                                        <div class="comment-text">
                                            <span class="username">
                                                {{comentario.username}}
                                                <span class="text-muted float-right">{{comentario.fecha}}</span>
                                            </span><!-- /.username -->
                                            {{comentario.comentario}}
                                        </div>
                                        <!-- /.comment-text -->
                                    </div>
                                    <!-- /.card-comment -->
                                </div>
                                <!-- /.card-footer -->
                                <div class="card-footer">
                                    <form method="post">
                                        <img class="img-fluid img-circle img-sm"
                                            src="data:;base64,{{usuario.base64}}"
                                            alt="Alt Text">
                                        <!-- .img-push is used to add margin to elements next to floating images -->
                                        <div class="img-push">
                                            <input type="number" name="id_publicacion" value="{{publicacion.id_publicacion}}" hidden>
                                            <input type="number" name="id_usuario" value="{{usuario.id_usuario}}" hidden>
                                            <input type="text" class="form-control form-control-sm" id="comentario"
                                            name="comentario"
                                                placeholder="Press enter to post comment">
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-footer -->
                            </div>
                            <!-- /.card -->



                        </div>
                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="\tabpanel"
                            aria-labelledby="custom-tabs-one-profile-tab">
                            <div class="col-lg-12">
                                <div style="margin-bottom: 10px;">
                                    <a href="/Edit">
                                        <button type="button" class="btn btn-dark">Editar</button>
                                    </a>
                                </div>

                                <div class="card card-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Personal information</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4"></div>
                                            <div class="col-lg-4">
                                                <div class="photo-container"
                                                    style="width: 100%; height: 320px; border: 2px solid; margin-bottom: 10px; display: flex; justify-content: center; align-items: center; overflow: hidden; position: relative;">
                                                    <img id="previewImage" width="250px" height="300px" alt="Preview"
                                                    src="data:;base64,{{usuario.base64}}"
                                                         style="object-fit: contain;">
                                                </div>
                                                <!-- <input type="file" id="inputFile" class="d-none">
                                                <label for="inputFile"
                                                    class="btn btn-success col fileinput-button dz-clickable">
                                                    <i class="fas fa-plus"></i>
                                                    <span>Add Photo</span>
                                                </label> -->
                                            </div>
                                        </div>
                                        <div class="col-lg-4"></div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label for="nombreCompleto">Full Name:</label>
                                                <input type="text" class="form-control" id="nombreCompleto"
                                                value="{{usuario.nombre}}" 
                                                    name="nombreCompleto" placeholder="Full Name" disabled>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label for="tituloProfesional">Current title or professional
                                                    position:</label>
                                                <select class="form-control" id="tituloProfesional"
                                                    name="tituloProfesional" disabled>
                                                        <option selected="selected">
                                                          {{usuario.titulo_profesional.nombre}}
                                                        </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label for="ubicacion">Location:</label>
                                                <input type="text" class="form-control" id="ubicacion" name="ubicacion"
                                                    placeholder="Place your location" 
                                                value="{{usuario.localizacion}}" 
                                                disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="card card-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Profesional resumen</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label for="resumen">Brief summary: (Optional)</label>
                                                <textarea class="form-control" id="resumen" name="resumen" rows="4"
                                                    placeholder="Highlight your skills, experience and key achievements"
                                                    disabled>{{usuario.resumen}}
                                                </textarea>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="objetivo">Professional objective or statement of purpose
                                                        (optional):</label>
                                                    <textarea class="form-control" id="objetivo" name="objetivo"
                                                        rows="4"
                                                        placeholder="Enter your career goal or purpose statement"
                                                        disabled>
                                                            {{usuario.objetivo}}
                                                        </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="row"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="card card-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Experience</h3>
                                    </div>
                                    <div class="card-body">
                                        {% for xp in usuario.experiencia %}
                                        <div class="row">
                                          <div class="col-lg-6">
                                            <label for="nombreEmpresa_">Company Name:</label>
                                            <input type="text" class="form-control" id="nombreEmpresa_" name="nombreEmpresa_" value="{{xp[0]}}"
                                              placeholder="Nombre de la empresa">
                                          </div>
                                          <div class="col-lg-6">
                                            <label for="periodoTrabajo_">Working period</label>
                                            <input type="text" class="form-control" id="periodoTrabajo_" name="periodoTrabajo_" value="{{xp[1]}}"
                                              placeholder="¡(MM/AAAA - MM/AAAA)">
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-12">
                                            <label for="responsabilidades_">Description of responsibilities and achievements:</label>
                                            <textarea class="form-control" id="responsabilidades_" name="responsabilidades_" rows="4"
                                              placeholder="Describe your responsabilities and achievements on this work">{{xp[2]}}</textarea>
                                          </div>
                                        </div>

                                        {% else %}

                                        <div class="row">
                                          <div class="col-lg-6">
                                            <label for="nombreEmpresa_">Company Name:</label>
                                            <input type="text" class="form-control" id="nombreEmpresa_" name="nombreEmpresa_"
                                              placeholder="Nombre de la empresa">
                                          </div>
                                          <div class="col-lg-6">
                                            <label for="periodoTrabajo_">Working period</label>
                                            <input type="text" class="form-control" id="periodoTrabajo_" name="periodoTrabajo_"
                                              placeholder="¡(MM/AAAA - MM/AAAA)">
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-12">
                                            <label for="responsabilidades_">Description of responsibilities and
                                              achievements:</label>
                                            <textarea class="form-control" id="responsabilidades_" name="responsabilidades_" rows="4"
                                              placeholder="Describe your responsabilities and achievements on this work"></textarea>
                                          </div>
                                        </div>

                                        {% endfor %}

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="card card-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Education</h3>
                                    </div>
                                    <div class="card-body">
                                        {% for edu in usuario.educacion %}
                                        <div class="row">
                                          <div class="col-lg-6">
                                            <label for="institucion_">Educational institution:</label>
                                            <input type="text" class="form-control" id="institucion_" name="institucion_" value="{{edu[0]}}"
                                              placeholder="Name of The Educational institution">
                                          </div>
                                          <div class="col-lg-6">
                                            <label for="titulo_">Obtained title:</label>
                                            <input type="text" class="form-control" id="titulo_" name="titulo_" placeholder="Obtained title"
                                              value="{{edu[1]}}">
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-6">
                                            <label for="periodoEstudio_">Working period:</label>
                                            <input type="text" class="form-control" id="periodoEstudio_" name="periodoEstudio_" value="{{edu[2]}}"
                                              placeholder="(MM/AAAA - MM/AAAA)">
                                          </div>
                                          <div class="col-lg-6"></div>
                                        </div>

                                        {% else %}

                                        <div class="row">
                                          <div class="col-lg-6">
                                            <label for="institucion_">Educational institution:</label>
                                            <input type="text" class="form-control" id="institucion_" name="institucion_"
                                              placeholder="Name of The Educational institution">
                                          </div>
                                          <div class="col-lg-6">
                                            <label for="titulo_">Obtained title:</label>
                                            <input type="text" class="form-control" id="titulo_" name="titulo_" placeholder="Obtained title">
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-6">
                                            <label for="periodoEstudio_">Working period:</label>
                                            <input type="text" class="form-control" id="periodoEstudio_" name="periodoEstudio_"
                                              placeholder="(MM/AAAA - MM/AAAA)">
                                          </div>
                                          <div class="col-lg-6"></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="card card-dark">
                                    <div class="card-header">
                                        <h3 class="card-title">Skills and aptitudes</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 10px;">#</th>
                                                            <th>Skills or Aptitudes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tablaHabilidades">
                                                    {% for hab in usuario.habilidades %}
                                                        <tr>
                                                        <td>{{loop.index0 + 1}}</td>
                                                        <td>{{hab}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const btnMostrarFormulario = document.getElementById('btnMostrarFormulario');
        const formularioPublicacion = document.getElementById('formularioPublicacion');
        const btnCancelar = document.getElementById('btnCancelar');

        btnMostrarFormulario.addEventListener('click', function () {
            formularioPublicacion.style.display = 'block';
        });

        btnCancelar.addEventListener('click', function () {
            formularioPublicacion.style.display = 'none';
        });
    });

    $(document).ready(function () {
       // Cuando se selecciona un archivo en el input de tipo file
    $("#inputFile").change(function () {
      readURL(this);
    });

    // Función para leer la URL del archivo seleccionado y mostrar la imagen en la vista previa
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#previewImage').attr('src', e.target.result).show();
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    });

</script>

{% endblock %}